# Git
.git
.gitignore
.gitattributes

# GitHub Actions
.github

# Python
__pycache__
**/__pycache__
*.py[cod]
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache

# Virtual environments
.venv
venv
env

# Test artifacts
allure-results
allure-report
selenoid-video

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.idea
.vscode
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs